body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

textarea, input, button, div {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #292929;
    color: #fff;
}

button {
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button:hover {
    background-color: #1ed760;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}
